@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --color-main-purple: #5936CD;
    --color-light-primary: #fff;
    --color-light-secondary: #f4f4f9;
    --color-text-grey: #7c7c7c;
    --color-dark-primary: #000;
    --color-dark-secondary: #010400;
    --color-neon-blue: #06bee1;
    --color-light-green: #E4FDE1;
}

body{
    overflow-x: hidden;
    background-color: var(--color-light-secondary);
}


.container-header-main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 72px;
    padding: 24px 112px;
    background-color: var(--color-light-primary);
}

.container-header-inside{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    max-width: 95%;
}

.container-img{
    display: flex;
    width: 240px;
}

.logo{
    width: 71px;
    height: 24px;
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 156px;
    height: 48px;
    border: 2px solid var(--color-neon-blue);
    border-radius: 8px;
}

.info{
    display: flex;
    align-items: center;
}

.letter-user{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: var(--color-light-green);
    border-radius: 50%;
    margin-right: 12px;
}

.info a {text-decoration: none;}

.info .exit-account{
    margin-left: 32px;
    cursor: pointer;
}

.container-cards{
    display: flex;
    width: 100%;
    padding: 48px 144px;
    justify-content: space-between;
    flex-direction: row;
}

.container-card-ficance{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 24px;
    width: 280px;
    height: 140px;
    background-color: var(--color-light-primary);
}

.container-card-ficance #highlight{color: var(--color-main-purple);}

.container-list{
    display: flex;
    flex-direction: column;
    margin: 0 auto 60px;
    padding: 24px;
    width: 1233px;
    height: 592px;
    border-radius: 24px;
    background-color: var(--color-light-primary);
}

.info-head-list{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

table{
    margin-top: 34px;
    font-family: 'Noto Sans';
    color: var(--color-text-grey);
}

th{
    color: #000;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
}

tr{
    height: 32px;
}

tr > td{
    font-size: 16px;
    font-weight: 500;
}

th.right{text-align: right;}

th.center{text-align: center;}

td.right{text-align: right;}

td.center{text-align: center;}

td#delete-action{
    cursor: pointer;
    color: red;
}

.modal-background{
    display: none;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(1, 4, 0, 0.2);
}

.modal-container{
    display: flex;
    flex-direction: column;
    width: 480px;
    padding: 24px;
    height: 100vh;
    background-color: #f4f4f9;
}

.modal-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.form-add-item {
    display: flex;
    flex-direction: column;
}

.form-add-item > select{
    height: 48px;
    padding: 4px;
    border-radius: 8px;
    border: 2px solid #06bee1;
    background-color: #f4f4f9;
    color: #000;
    font-family: 'Noto Sans';
    font-size: 16px;
}

.form-add-item > label{
    margin-top: 12px;
}